.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}
.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 500px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    color: #fff;
    border-radius:10px ;
    text-decoration: none;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    
}
.details table thead td{
    font-weight: 600;
}
.details .recentOrders table tr{
    color: var(--gray-lg);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    background: var(--blue);
    color: #fff;
}
.details .recentOrders table tr td{
    padding: 10px;
}
.details .recentOrders table tr td:last-child{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}
.details .recentOrders table tr td:nth-child(4){
    text-align: center;
}
.dropdown-content{
   position: absolute;
   text-align: left;
}
.dropdown-content p{
    padding: 12px 16px;
    cursor: pointer;
}
.dropdown-content p:hover{
    background-color: #f1f1f1
}
/*  */
.dropdown {
    position: relative;  
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #0d1324;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .recentCustomers{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table tr:hover{
    background: var(--blue);
    color: #fff;
}
.recentCustomers table tr td{
    padding: 12px 10px;
}
.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--gray-lg);
}
.recentCustomers table tr:hover{
    background: var(--blue);
    color: #fff;
}
.recentCustomers table tr:hover td h4 span{
    color: #fff;
}