<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit staff</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<div class="card-heading">Staff Information</div>
				<hr>
				<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Fullname</div>
						<input id="fullname" ng-model="form.fullname" class="form-control">
					</div>
					<div class="form-group col-sm-6">
						<div>Username</div>
						<input ng-model="form.username" class="form-control" readonly>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Email</div>
						<input id="email" ng-model="form.email" class="form-control">
					</div>
					<div class="form-group col-sm-6">
						<div>Password</div>
						<input id="password" ng-model="form.password" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Phone number</div>
						<input id="phonenumber" ng-model="form.phone" class="form-control">
					</div>
				</div>
				<br>
			</div>
		</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button ng-click="validateUpdate()" type="button" class="btn btn-primary">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>
</div>